body {
  margin: 0 auto;
  background-color: #000;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
}


.wise-lines {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
  background-color: #FFF;
  scroll-snap-align: center;
  
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  scroll-snap-align: center;
  font-family: 'Poppins';
  font-weight: 400;
  background-color: #000;
}


.text {
  font-size: 1.2em;
  transition: 0.8s all ease-in-out;
  color: #FFFFFF44;
}

.text:first-child {
  font-size: 2.2em;
  color: #FFF;
}